<div class="span3" id="controls">
    <ul class="nav nav-list">
      <li class="nav-header">
        write words
      </li>
      <li>
        <a href="#/admin" data-target="dashboard">Dashboard</a>
      </li>
      <li>
        <a href="#/admin/new" data-target="new">New</a>
      </li>
      <li>
        <a href="#/admin/posts" data-target="posts">Posts</a>
      </li>
    </ul>
</div> <!-- /.span3 -->
