<div class="row-fluid">
    <div class="span3" id="controls">
        <ul class="nav nav-list">
          <li class="nav-header">
            write words
          </li>
          <li class="active">
            <a href="#" data-target="dashboard">Dashboard</a>
          </li>
          <li>
            <a href="#" data-target="new">New</a>
          </li>
          <li>
            <a href="#" data-target="posts">Posts</a>
          </li>
          <li>
            <a href="#" data-target="drafts">Drafts</a>
          </li>
          <li>
            <a href="#" data-target="search">Search</a>
          </li>
        </ul>
    </div> <!-- /.span3 -->
    <div id="workspace" class="span9">
        workspace
    </div> <!-- /.span9 -->
</div> <!-- /.row-fluid -->
