<div class="row-fluid"> &nbsp; </div>
<div class="row-fluid">
    <div class="span3">
        <input id="search" type="search" />
    </div>
    <div class="span9">
        {{#posts}}
            {{>post}}
        {{/posts}}
    </div> <!-- /.span9 -->
    </div> <!-- /.span3 -->
</div> <!-- /.row-fluid -->
