<div class="row-fluid">
    <div class="span3">
        <form action="#/search" method="get">
            <div class="input-prepend">
                <span class="add-on"><span class="icon-search"></span></span><input name="keyword" type="search" class="input-small" name="filter" />
            </div>
        </form>
    </div> <!-- /.span3 -->
    <div class="span9" style="border-left:1px solid black">
        {{#posts}}
            {{>post}}
        {{/posts}}
    </div> <!-- /.span9 -->
</div> <!-- /.row-fluid -->
